@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --color-gray-0: #f0f6fc;
    --color-gray-1: #c9d1d9;
    --color-gray-2: #b1bac4;
    --color-gray-3: #8b949e;
    --color-gray-4: #6e7681;
    --color-gray-5: #484f58;
    --color-gray-6: #30363d;
    --color-gray-7: #21262d;
    --color-gray-8: #161b22;
    --color-gray-9: #0d1117;
    --color-purple-0: #eddeff;
    --color-purple-1: #e2c5ff;
    --color-purple-2: #d2a8ff;
    --color-purple-3: #bc8cff;
    --color-purple-4: #a371f7;
    --color-purple-5: #8957e5;
    --color-purple-6: #6e40c9;
    --color-purple-7: #553098;
    --color-purple-8: #3c1e70;
    --color-purple-9: #271052;
    --color-pink-0: #ffdaec;
    --color-pink-1: #ffbedd;
    --color-pink-2: #ff9bce;
    --color-pink-3: #f778ba;
    --color-pink-4: #db61a2;
    --color-pink-5: #bf4b8a;
    --color-pink-6: #9e3670;
    --color-pink-7: #7d2457;
    --color-pink-8: #5e103e;
    --color-pink-9: #42062a;
    --color-blue-0: #cae8ff;
    --color-blue-1: #a5d6ff;
    --color-blue-2: #79c0ff;
    --color-blue-3: #58a6ff;
    --color-blue-4: #388bfd;
    --color-blue-5: #1f6feb;
    --color-blue-6: #1158c7;
    --color-blue-7: #0d419d;
    --color-blue-8: #0c2d6b;
    --color-blue-9: #051d4d;
    --color-green-0: #aff5b4;
    --color-green-1: #7ee787;
    --color-green-2: #56d364;
    --color-green-3: #3fb950;
    --color-green-4: #2ea043;
    --color-green-5: #238636;
    --color-green-6: #196c2e;
    --color-green-7: #0f5323;
    --color-green-8: #033a16;
    --color-green-9: #04260f;

    --red: #ff000065;
    --green: #16a085;
}

body {
    background-color: var(--color-gray-7);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.maxwidth {
    width: 100%;
    max-width: 1000px;
    position: relative;
    height: 100vh;
}

.headerdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-gray-0);
    font-size: 2rem;
}

.logginn {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logginn button {
    background-color: var(--color-gray-8);
    border: 1px solid var(--color-gray-6);
    color: var(--color-gray-1);
    font-size: 0.8rem !important;
    padding: 10px 7px;
    border-radius: 10px;
    transition: all 150ms;
}

.logginn button:active {
    scale: 0.9;
    border-color: var(--color-gray-4);
}

.loggetinn {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.loggetinn button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--color-gray-8);
    border: 1px solid var(--color-gray-0);

    display: flex;
    justify-content: center;
    align-items: center;
}

.loggetinnImage {
    border-radius: 50%;
}

.loading {
    animation: rotation 0.7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.klasserom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.klasserombutton {
    border: 1px solid var(--color-gray-6);
    background-color: var(--color-gray-8);
    color: var(--color-gray-1);
    width: 80px;
    height: 80px;
    margin: 1rem;
    padding: 10px;
    border-radius: 15px;
    transition: all 100ms;
}

.klasserom button:active {
    scale: 0.9;
    border-color: var(--color-gray-4);
}

.klasserominfoboks {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.klasserominfobakgrunn {
    background-color: var(--color-gray-4);
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
}

.klasserominfo {
    height: 500px;
    width: 350px;
    background-color: var(--color-gray-8);
    z-index: 1100;
    opacity: 1;
    color: var(--color-gray-1);
    border-radius: 20px;
    padding: 10px;
}

.exitklasserombutton {
    background-color: var(--color-gray-8);
    border: 1px solid var(--color-gray-6);
    color: var(--color-gray-1);
    font-size: 0.8rem !important;
    border-radius: 10px;
    transition: all 150ms;
}

.klasserominfomain {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    height: 91.5%;
    border-radius: 15px;
    margin-top: 5px;
}

.klasserominfoheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.klasserominfoheader span {
    width: 40px;
}

.klasserominfoheader button {
    margin: 0;
    width: 40px;
    height: 40px;
}

.klasserominfoheader p {
    font-size: larger;
    font-weight: 600;
}

.datoklasserom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datoklasserom p {
    font-weight: 500;
}

.klasseromtilgjengelighet {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-gray-5);
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}

.klasseromtilgjengelighetdiv1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookklasserom {
    border: 1px solid var(--color-gray-6);
    background-color: var(--color-gray-8);
    color: var(--color-gray-1);
    padding: 10px;
    border-radius: 15px;
    transition: all 100ms;
    margin: 0px !important;
    height: 50px !important;
    width: 170px !important;
}

.logginnforåbooke {
    background-color: var(--color-gray-8);
    border: 1px solid var(--color-gray-5);
    padding: 10px;
    border-radius: 15px;
    margin: 0px !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booketav {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-8);
    border: 1px solid var(--color-gray-5);
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 600;
}

.booketav span {
    font-size: smaller;
    font-weight: 300;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--color-gray-4);
}


